.App {
  padding-top: 40px;
  text-align: center;
}

.add-text {
  margin-bottom: 20px;
  padding: 10px;
  max-width: 400px;
  width: 100%;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
}

button {
  margin-left: 20px;
  padding: 9px 20px;
  font-size: 16px;
  border: 1px solid black;
  background-color: rgb(21 98 113);
  color: #fff;
}

button:hover {
  background-color: rgb(13, 146, 172);
}

ul {
  margin-left: 35rem;
}

li {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.delete {
  color: red;
  cursor: pointer;
}

input:checked + span {
  text-decoration: line-through;
}

span:last-child {
  color: red;
  cursor: pointer;
}